$primary: rgba(54, 159, 255, 1);
$secondary: rgba(48, 52, 59, 1);
$danger: rgba(211, 42, 42, 1);

$primarySoft: rgba(54, 159, 255, 0.5);
$secondarySoft: rgba(48, 52, 59, 0.5);
$dangerSoft: rgba(211, 42, 42, 0.5);

$solidPrimaryHover: rgba(2, 116, 220, 1);
$solidSecondaryHover:rgba(26, 27, 28, 1);
$solidDangerHover:rgba(138, 29, 29, 1);

$outlinePrimaryHover: rgba(54, 159, 255, 0.22);
$outlineSecondaryHover: rgba(48, 52, 59, 0.5);
$outlineDangerHover: rgba(211, 42, 42, 0.12);

$outlineSecondaryFont: rgba(255, 255, 255, 0.7);

$softPrimaryHover: rgba(54, 159, 255, 0.22);
$softSecondaryHover :rgba(48, 52, 59, 0.7);
$softDangerHover : rgba(211, 42, 42, 0.2);

$solidDisabledBackground: rgba(48, 52, 59, 1);
$solidDisabledText: rgba(148, 151, 154, 1);

$softDisabledBackground: rgba(48, 52, 59, 0.5);
$softDisabledText :rgba(148, 151, 154, 1);

$ghostPrimaryHover: rgba(54, 159, 255, 0.12);
$ghostSecondaryHover: rgba(48, 52, 59, 0.5);
$ghostDangerHover: rgba(211, 42, 42, 0.12);

$ghostPrimary: rgba(54, 159, 255, 1);
$ghostSecondary: rgba(255, 255, 255, 0.7);
$ghostDanger:rgba(211, 42, 42, 1);