.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr)  ;

    .typess {
        width: 180px;
        height: 20vh;
        
        h5 {
            font-size: 1.5rem;
        }

        .inner {
            display: flex;
            flex-direction: column;

            input{
                margin-top: 10px;
            }
        }
    }
}




