#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 70vw;
  height: 80vh;
}

.btnWrapper {
  width: 70vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}

.wrapper {
  display: flex;
  flex-direction: column-reverse;
}
